$gradient-light--green: linear-gradient(
  45deg,
  rgba(151, 241, 240, 1) 0%,
  rgba(0, 255, 94, 1) 100%
);
$gradient-light--red: linear-gradient(
  45deg,
  rgb(241, 151, 151) 0%,
  rgb(255, 8, 0) 100%
);
$white-light: rgb(231, 255, 254);
